<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>poke-freak</title>
        <link rel="stylesheet" href="../css/default.css" />
        <link rel="stylesheet" href="../css/battle.css" />
    </head>
    <body>
        <main>
            <div class="over">
            </div>
            <div class="under">
                <div class="text-message" id="text-message">
                </div>
                <div class="menu">
                    <div class="select inline" id="menu-select">
                        <span class="button" id="button-select-ok">OK</span>
                        <span class="button" id="button-select-back">Back</span>
                    </div>
                    <div class="battle" id="menu-battle">
                        <div class="inline">
                            <span class="button" id="button-skill">Skill</span>
                            <span class="button" id="button-change">Change</span>
                        </div>
                        <div class="inline">
                            <span class="button button-extra" id="button-resign">Resign</span>
                        </div>
                    </div>
                    <div class="skill inline" id="menu-skill">
                        <span class="button" id="button-skill-ok">OK</span>
                        <span class="button" id="button-skill-back">Back</span>
                    </div>
                    <div class="change inline" id="menu-change">
                        <span class="button" id="button-change-ok">OK</span>
                        <span class="button" id="button-change-back">Back</span>
                    </div>
                    <div class="confirm inline" id="menu-confirm">
                        <span class="button" id="button-confirm-ok">OK</span>
                        <span class="button" id="button-confirm-back">Back</span>
                    </div>
                </div>
            </div>
        </main>
        <script src="../script/loader/game-view-controller-loader.mix.js"></script>
    </body>
</html>
