@charset 'UTF-8';

* {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FFFFFF;
    color: #404040;
    font-size: 14pt;
    font-family: 'Meiryo UI', 'メイリオ', 'Sans-serif';
}

div.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

