@charset 'UTF-8';

* {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FFFFFF;
    color: #404040;
    font-size: 14pt;
    font-family: 'Meiryo UI', 'メイリオ', 'Sans-serif';
}

div.invisible {
    display: none;
}

div.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.inline-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; 
}

div.inline-align-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.vertical {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

div.vertical-align-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

div.vertical-align-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}
